@media  screen and (min-width : 1024px)
	/*Header*/
	header
		nav
			.logo
				display block
	/*Hero Page*/
	.ThoyCa_HeroPage
		height 60%
		height 60vh
	/*Principal*/
	.ThoyCA_ContMain
		flexdiv(space-around,null,null,true)
		.ThoyCA_ContMain-MoPrincipal
			width 60%
		.ThoyCA_Contenido-Aside
			width 30%
	
	.Componente_Article
		flexdiv(space-around,center,center,false)
	.Componente_Article-Banderas
		width 50%
	.Componente_Article-InfoPartido
		width 45%
		h1,h2,p
			text-align left
	.Loader_Noticias
		flexdiv(null,stretch,null,false)
		figure
			width 50%
			padding-bottom 28.125%
		.Loader_Noticias-Cont
			width 50%
			padding 10px
			h1
				font-size 1.6rem
				margin 0
				padding 0
			p
				font-size 1.2rem
			.Noticias_Actions
				position absolute
				bottom 0
			
		