/**
 * Description: Especial Copa America - Tabasco HOY.
 * Version: 1.0.0
 * Last update: 12/06/2015
 * Author: Arturo Aguilera Quintal <aguileraarturo1@hotmail.com>
*/
/*Animation*/
animation-1 = cubic-bezier(.1,.82,.25,1)
animation-2 = cubic-bezier(.17,.67,.83,.67)
animation-3 = cubic-bezier(.62,.28,.23,.99)
/*COLORES*/
primario = #1f76e4
transparencia-fondo = rgba(28, 115, 215, 0.1)
primario-lv-2 = #c3d2e5
texto-blanco = #edf3fc
texto-normal = #21213a
texto-secundario = #666666
@import 'nib'
/*Maaterial Shadow's*/
@import '../bower_components/material-shadows'
/*Fuentes*/
@import 'fonts/*'
@import 'mixins/*'
@import 'base/*'
@import 'components/*'
@import 'responsive/*' 