.Animation_LoaderImage
	opacity 0
.Animation_LoaderImage--Load
	opacity 1
	transition opacity 2s animation-1

.Animation_LoaderComponent
	animation LoaderComponent 10s ease-in-out infinite
	background linear-gradient(left, #9BA4AC, #d0d3d6, #e8e9eb,#9BA4AC)
	animation-fill-mode forwards
	background-size 800% 800%
	
/*Keyframes*/
@keyframes LoaderComponent 
	0%
		background-position 100% 0%
	100%
		background-position 0% 160%