.ThoyCA_ContMain-MoPrincipal--React
	width 100%
	display block
	margin 0
	position relative
/*Componente - Article {Elementos Dinamicos} */
.Componente_Article
	display block
	flexdiv(center,center,center,true)
	padding 0
	width 100%
	z-depth(0)
	overflow hidden
	background-color texto-blanco
	margin 20px 0
/* Header del Articulo*/
.Componente_Article-TitleHeader
	width 100%
	padding 10px 30px
	margin 0
	margin-bottom 20px
	background-color primario
	color texto-blanco
	box-sizing border-box
	threedText(5, rgba(0, 0, 0, .1), .50, 0.5, 0.35)
	font-size 3rem
	font-weight 400
/*Componente - Article - Banderas 
 *Alinea las Banderas en posicion Vertical
 */
.Componente_Article-Banderas
	width 100%
	display block
	margin 0 auto
	padding 25px 10px 10px 10px
	box-sizing border-box
	posicion relative
	flexdiv(center,center,center,false)
	.vs-text
		font-size 4rem
		text-align center
		display block
		margin 0 10px
		padding 0
		font-weight bold
	figure
		display block
		position relative
		margin 0
		padding 0
		width 34%
		img
			margin 0 auto
			display block
			max-width 100%
			border-radius 100%
			z-depth(1)
		figcaption
			text-align center
			font-weight bold
			font-size 4rem
			font-family 'Roboto Condensed', sans-serif
/*Componente - Article - Informacion del partido 
 *Obtendra un estilo necesario
 */
.Componente_Article-InfoPartido
	width 100%
	display block
	margin 0
	padding 10px 0 20px 0
	h1,h2,p
		padding 0
		margin 0
		text-align center
		font-family 'Roboto Condensed', sans-serif
	h1
		color primario
		font-size 3rem
	h2
		color texto-normal
		font-size 2.8rem
	p
		font-size 2rem
		color #666666
/*Componente - Article - Noticias 
 *Estilos para los articulos de Noticias
 */
.Componente_Article-Noticias
	width 100%
	position relative
	display block
	box-sizing border-box