.Button-Primario,.MoPrincipal--CargarMas
	padding 10px 50px
	background-color primario
	color texto-blanco
	threedText(5, rgba(0, 0, 0, .1), .25, 0.5, 0.35)
	text-align center
	cursor pointer
	border-radius 3px
	user-select none
.Button-Primario
	position relativer
	margin 20px auto
	font-size 2.8rem
.MoPrincipal--CargarMas
	position absolute
	bottom -100px
	left 50%
	width 180px
	font-size 2rem
	transform translateX(-50%)
.CargarMas--Disable
	background-color texto-secundario
	pointer-events none
	transition all 800ms animation-2

	
	