.InfoPartido_H1--MarginBo
	margin-bottom -5px !important
.Mo--bortop
	border-top-left-radius 3px
.Mo--width
	width 100% !important
	flex-wrap wrap !important
.Mo--textAlign
	text-align center !important
.Mo--margin0
	margin 0